<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- custom css -->
    <style>
        .searchBar{
            max-width: 35vw;
            margin: auto;
        }
        .searchBar-Btn{
            border-color: none;
        }
        .searchBar-Icon{
            color: black;
        }
    </style>

  </head>
  <body>
    <!-- nav bar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-5">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">#</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Buy</a>
            <a class="nav-link" href="#">Rent</a>
            <a class="nav-link" href="#">Sell</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign In</a>
            </div>
        </div>
        </div>
    </nav>
    <!-- nav bar end -->

    <div class="input-group border rounded-3 mb-3 searchBar">
        <input type="text" class="form-control border-0" placeholder="Recipient's username">
        <button class="btn searchBar-Btn" type="button" id="button-addon2">
            <i class="fas fa-search mx-2 searchBar-Icon"></i>
        </button>
    </div>



    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>